In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import descartes
import geopandas as gpd
from shapely.geometry import Point, Polygon
import folium
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [42]:
df=pd.read_csv('merged.csv')

In [43]:
pd.set_option('display.max_columns', None)

In [44]:
df=pd.DataFrame(df)
df.head(20)
drop= df['inspector'].value_counts() < 20

In [45]:
df= df.drop(df[['transactions', 'price', 'establishment_x', 'establishment_y', 'address_x', 'address_y', 'trimmed_name_x', 'trimmed_name_y', 'clean_address_x', 'clean_address_y', 'address_distance', 'name_distance']], axis=1)

In [46]:
#Dropped all establishments with less than 22 reviews
df=  df[df['review_count'] >= 22] 
df.describe()

,Unnamed: 0,number_of_violations,zip_code,house_numbers,distance,review_count,longitude,latitude,sector,total_score,rating
count,1820.000000,1820.000000,1820.000000,1820.00000,1820.000000,1820.000000,1820.000000,1820.000000,1820.000000,1820.000000,1820.000000
mean,1166.184066,5.082967,78220.814286,4784.15989,7830.619272,210.672527,-98.514171,29.489581,15.985714,93.996154,3.678571
std,709.624182,4.892942,15.141757,4756.65303,3071.065979,288.162365,0.058245,0.055954,9.218967,5.436068,0.669349
min,0.000000,0.000000,78201.000000,21.00000,811.199667,22.000000,-98.708442,29.354318,1.000000,56.000000,1.000000
25%,529.500000,2.000000,78209.000000,821.00000,5929.771588,55.000000,-98.564447,29.433901,8.000000,91.000000,3.500000
50%,1171.500000,4.000000,78216.000000,2918.00000,7986.163583,109.000000,-98.495517,29.492450,16.000000,95.000000,4.000000
75%,1782.250000,7.000000,78230.000000,8226.50000,9377.441334,251.000000,-98.480431,29.530199,22.000000,98.000000,4.000000
max,2408.000000,50.000000,78259.000000,22211.00000,20222.717722,2661.000000,-98.398119,29.661520,35.000000,100.000000,5.000000

In [47]:
#Dropped all establishments with less than 22 reviews
df=  df[df['review_count'] >= 22]

In [48]:
#grouped health scores into 5 groups with a range of three
health_scores= {'health_scores' : []}
for x in df['total_score']:
#     print(x)
    if x > 95:
        health_scores['health_scores'].append('1')
    elif x> 90:
        health_scores['health_scores'].append('2')
    else:
        health_scores['health_scores'].append('3')       
#df
df['health_scores']= health_scores['health_scores']

In [49]:
#df.isnull().sum()
#len(health_scores)
#len(df)
df['inspector'].value_counts()

Lauren Schumacher     180
Jeffrey Carrizales    136
RYAN DAVIS            129
Jacob Johanson        128
Sumner Bumgardner     117
Bamba Njie             89
Diana Garcia           88
Deborah Liu            82
Bernard Capdeboscq     79
Cicily Martinez        77
Valerie Suarez         75
Benito Zuniga          72
Daisy Zamora           68
Nathan Balfour         64
Raul Jimenez           38
John Payelle           38
William Hudson         37
Kassandra Aguilar      35
Debra Hernandez        31
Mario Cavazos          27
Erica Arreola          27
MICHELLE MORENO        26
Kathleen Prenzler      26
William Emminger       26
Amanda Cantu           22
Kacie Patrick          20
Adan Zamora            18
Sean Gilbert           16
Fermin Garza           15
Monica Caballero        7
Victoria Paredes        7
Juanicia Page           6
Joe Mokry               5
Daniel Guzman           3
Maurico Ripley          3
Erica Llanas            2
Rebecca Vera            1
Name: inspector, dtype: int64

In [50]:
vdf = pd.DataFrame(df['inspector'].value_counts())
vdf['check'] = vdf['inspector'] > 1
over_20 = list(vdf.loc[vdf['check'], :].reset_index()['index'])

In [51]:
inspectors = pd.DataFrame(df.inspector.unique())

In [52]:
df['check'] = df['inspector'].isin(over_20)
new_df = df.loc[df['check'], :]
new_df = new_df.drop(columns = ['check'])
new_df

,Unnamed: 0,inspection_date,inspector,number_of_violations,violations,zip_code,house_numbers,categories,distance,review_count,longitude,latitude,name,sector,district,total_score,rating,health_scores
0,0,2019-01-02,Cicily Martinez,3,"['22', '29', '45']",78212,2524,"['Italian', 'Desserts', 'Seafood']",4950.353662,99.0,-98.493780,29.453730,Capparelli's On Main,35,D,97,3.5,1
1,1,2019-03-06,RYAN DAVIS,1,['31'],78230,14439,"['French', 'Asian Fusion', 'Tapas/Small Plates']",9312.955170,102.0,-98.544540,29.573330,Frederick's Bistro,9,A,98,4.0,1
3,3,2019-11-04,Cicily Martinez,3,"['10', '15', '40']",78201,914,['Mexican'],3194.340357,42.0,-98.508619,29.466156,Fina's Kitchen,35,D,93,4.0,2
4,4,2019-03-14,RYAN DAVIS,0,[],78230,13151,['Barbeque'],7935.733616,41.0,-98.537950,29.562850,Bill Miller Bar-B-Q,9,A,100,2.5,1
5,5,2019-03-14,RYAN DAVIS,1,['21'],78230,10003,['American (Traditional)'],6996.407916,434.0,-98.536348,29.554391,Green Vegetarian Cuisine,9,A,98,4.5,1
6,6,2019-03-14,RYAN DAVIS,1,['18'],78230,10003,['Vietnamese'],6937.261517,70.0,-98.534051,29.554894,Pho VN Bistro,9,A,97,3.5,1
7,7,2019-07-05,Cicily Martinez,3,"['1', '39', '45']",78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,95,3.5,2
8,8,2019-07-05,Cicily Martinez,3,"['1', '39', '45']",78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,95,3.5,2
9,9,2019-07-05,RYAN DAVIS,0,[],78230,10003,['American (Traditional)'],6996.407916,434.0,-98.536348,29.554391,Green Vegetarian Cuisine,9,A,100,4.5,1
10,10,2019-07-05,Cicily Martinez,3,"['9', '37', '40']",78201,914,['Mexican'],3194.340357,42.0,-98.508619,29.466156,Fina's Kitchen,35,D,95,4.0,2
11,11,2019-03-19,Daisy Zamora,4,"['41', '45', '47', '47']",78247,13800,"['Barbeque', 'Moroccan']",9970.923827,99.0,-98.452140,29.565790,Bushwood BBQ,15,B,97,4.0,1
12,12,2019-03-19,Daisy Zamora,4,"['41', '45', '47', '47']",78247,13800,"['Barbeque', 'Moroccan']",9970.923827,99.0,-98.452140,29.565790,Bushwood BBQ,15,B,97,4.0,1
13,13,2019-03-19,Daisy Zamora,4,"['41', '45', '47', '47']",78247,13800,['Bars'],9971.412110,32.0,-98.452140,29.565790,Bushwood CC,15,B,97,3.5,1
14,14,2019-03-19,MICHELLE MORENO,9,"['10', '21', '22', '28', '31', '32', '33', '34...",78238,6420,['Sports Bars'],10198.081680,33.0,-98.615440,29.468060,Perfect Score,31,D,92,2.5,2
15,15,2019-11-04,Cicily Martinez,4,"['30', '37', '41', '45']",78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,97,3.5,1
16,16,2019-11-04,Cicily Martinez,4,"['30', '37', '41', '45']",78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,97,3.5,1
17,17,2019-11-05,Kassandra Aguilar,3,"['10', '35', '43']",78208,1720,['Barbeque'],7981.026377,25.0,-98.460721,29.439958,Bill Miller Bar-B-Q,20,C,95,3.0,2
18,18,2019-03-11,Nathan Balfour,2,"['42', '42']",78256,15900,['Fast Food'],14587.006772,42.0,-98.613920,29.592997,Chick-fil-A,3,A,99,2.5,1
19,19,2019-11-12 00:00:00,Nathan Balfour,2,"['31', '42']",78256,15900,['Fast Food'],14587.006772,42.0,-98.613920,29.592997,Chick-fil-A,3,A,97,2.5,1
21,21,2019-03-08,Sumner Bumgardner,1,['29'],78205,501,['Barbeque'],7627.166743,26.0,-98.491648,29.428770,Bill Miller Bar-B-Q,19,C,100,2.5,1
22,22,2019-07-15,Jacob Johanson,15,"['2', '3', '10', '10', '18', '18', '22', '28',...",78212,145,"['Mexican', 'Tex-Mex', 'Breakfast & Brunch']",3759.373526,531.0,-98.492280,29.466740,Taco Taco Cafe,18,B,76,2.5,3
23,23,2019-09-17,Sumner Bumgardner,6,"['21', '28', '29', '30', '32', '41']",78212,1222,"['Korean', 'Cafes', 'Chinese']",6348.255594,41.0,-98.493590,29.440100,Cypress Cafe,19,C,96,4.5,1
24,24,2019-07-15,Jacob Johanson,15,"['2', '3', '10', '10', '18', '18', '22', '28',...",78212,145,"['Mexican', 'Tex-Mex', 'Breakfast & Brunch']",3759.373526,531.0,-98.492280,29.466740,Taco Taco Cafe,18,B,76,2.5,3
25,25,2019-03-12,MICHELLE MORENO,8,"['10', '15', '18', '34', '36', '39', '42', '45']",78238,6424,['Vietnamese'],10196.243505,375.0,-98.615470,29.468550,Pho Ha Long,31,D,89,4.0,3
26,26,2019-09-26,Nathan Balfour,2,"['32', '42']",78256,15900,"['Bars', 'American (New)', 'Gastropubs']",14414.111625,282.0,-98.610961,29.593167,Bar Louie,3,A,97,3.5,1
27,27,2019-06-28,Erica Llanas,5,"['22', '27', '30', '40', '46']",78259,3111,"['Thai', 'Chinese', 'Mongolian']",20011.659598,145.0,-98.436960,29.661520,Thai Hut Bistro,14,B,94,4.0,2
28,28,2019-03-20,Nathan Balfour,3,"['18', '21', '31']",78256,15900,"['Bakeries', 'Desserts', 'Patisserie/Cake Shop']",14534.940001,145.0,-98.613948,29.592351,Carlo's Bakery,3,A,93,3.0,2
29,29,2019-03-20,Nathan Balfour,2,"['31', '39']",78256,15900,['Pizza'],14442.698114,418.0,-98.612220,29.592565,Grimaldi's Pizzeria,3,A,97,3.5,1
30,30,2019-04-02,Diana Garcia,5,"['18', '19', '30', '39', '45']",78216,618,"['Comedy Clubs', 'Lounges']",2909.634986,105.0,-98.502491,29.518464,Laugh Out Loud Comedy Club,11,B,92,3.5,2
32,32,2019-10-25,Cicily Martinez,0,[],78212,1906,"['Pizza', 'Salad', 'Italian']",5594.631902,214.0,-98.493900,29.447410,Main Street Pizza & Pasta,35,D,100,4.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2369,2369,2019-06-04,Debra Hernandez,4,"['2', '28', '30', '37']",78228,2703,['Barbeque'],6345.371319,42.0,-98.552440,29.448090,Bill Miller Bar-B-Q,34,D,97,3.0,1
2370,2370,2019-06-04,Daisy Zamora,7,"['21', '30', '34', '41', '42', '45', '46']",78217,11842,['Barbeque'],11813.588065,23.0,-98.408776,29.547721,Bill Miller Bar-B-Q,15,B,95,3.0,2
2372,2372,2019-06-03,Deborah Liu,2,"['3', '10']",78229,4727,"['Mexican', 'Fast Food']",6444.850596,71.0,-98.578407,29.510452,Chipotle Mexican Grill,6,A,94,3.5,2
2373,2373,2019-05-31,Valerie Suarez,12,"['9', '9', '21', '27', '29', '30', '33', '34',...",78229,5337,['Chinese'],7754.848323,84.0,-98.593074,29.487374,Gin Chinese Restaurant,1,A,90,4.0,3
2374,2374,2019-05-31,Valerie Suarez,9,"['18', '19', '21', '30', '32', '32', '35', '39...",78240,5440,['Chinese'],8110.346393,160.0,-98.594131,29.516031,Royal Inn Oriental Cuisine,1,A,89,4.0,3
2375,2375,2019-05-31,Jacob Johanson,4,"['19', '19', '20', '21']",78209,1435,"['Burgers', 'Fast Food', 'Ice Cream & Frozen Y...",7525.298843,33.0,-98.436666,29.493140,Sonic Drive-In,18,B,92,1.5,2
2376,2376,2019-05-31,Valerie Suarez,7,"['9', '21', '22', '30', '32', '37', '46']",78238,5520,['Thai'],7987.495094,204.0,-98.596567,29.487705,Thai Taste,1,A,91,4.0,2
2377,2377,2019-05-31,Benito Zuniga,0,[],78216,606,['Breweries'],8153.106094,146.0,-98.489170,29.564690,Weathered Souls Brewing,13,B,100,4.5,1
2378,2378,2019-06-03,Valerie Suarez,7,"['5', '21', '24', '29', '30', '34', '46']",78228,4823,"['Mexican', 'Juice Bars & Smoothies']",6872.025703,41.0,-98.582108,29.476030,Fruteria Las Gueras,1,A,96,3.5,1
2380,2380,2019-06-03,Benito Zuniga,8,"['9', '22', '31', '34', '42', '42', '45', '45']",78216,92,"['Steakhouses', 'American (Traditional)', 'Bar...",3981.475227,201.0,-98.484885,29.519380,Logan's Roadhouse,13,B,90,2.0,3
2381,2381,2019-06-03,Jeffrey Carrizales,15,"['1', '9', '9', '10', '10', '19', '21', '28', ...",78201,4223,['Mexican'],1146.515037,260.0,-98.507971,29.485780,Los Barrios Mexican Restaurant,8,A,90,3.5,3
2385,2385,2019-06-13,Jeffrey Carrizales,0,[],78229,7460,['Imported Food'],4419.749770,155.0,-98.558931,29.503267,Minnano Japanese Grocery,7,A,100,4.5,1
2386,2386,2019-06-13,Jeffrey Carrizales,2,"['2', '27']",78229,1721,"['Ethiopian', 'Vegetarian', 'Eritrean']",5401.118910,134.0,-98.570210,29.494470,Rehoboth Eritrean-Ethiopian Cuisine,7,A,100,4.5,1
2388,2388,2019-06-14,Sumner Bumgardner,2,"['28', '29']",78215,102,"['Cocktail Bars', 'Lounges', 'Coffee & Tea']",7225.042992,429.0,-98.483633,29.435242,Paramour,19,C,98,3.0,1
2389,2389,2019-06-14,Bernard Capdeboscq,0,[],78218,4114,['Thai'],9846.229296,197.0,-98.413124,29.484283,Thai House Restaurant,17,B,100,4.5,1
2390,2390,2019-06-17,Bernard Capdeboscq,3,"['28', '36', '41']",78218,1015,"['Cajun/Creole', 'Barbeque', 'Food Trucks']",8408.810009,179.0,-98.428160,29.485323,225 Urban Smoke,17,B,96,4.5,1
2391,2391,2019-06-17,Bernard Capdeboscq,3,"['28', '36', '41']",78218,1015,"['Cajun/Creole', 'Barbeque', 'Food Trucks']",8408.810009,179.0,-98.428160,29.485323,225 Urban Smoke,17,B,96,4.5,1
2392,2392,2019-06-17,Raul Jimenez,7,"['2', '15', '22', '25', '30', '32', '39']",78230,2619,"['Sushi Bars', 'Japanese']",2946.584338,318.0,-98.535816,29.513278,Goro's Sushi,8,A,89,4.0,3
2393,2393,2019-06-17,Jeffrey Carrizales,3,"['19', '21', '33']",78229,7970,"['Delis', 'Sandwiches', 'Fast Food']",5600.662622,57.0,-98.568289,29.512812,Jersey Mike's Subs,7,A,100,3.5,1
2394,2394,2019-06-17,RYAN DAVIS,2,"['42', '45']",78230,11255,"['Italian', 'Venues & Event Spaces', 'Seafood']",8505.690948,321.0,-98.578162,29.547100,Luce Ristorante e Enoteca,9,A,98,4.0,1
2397,2397,2019-06-11,Juanicia Page,6,"['31', '34', '39', '39', '41', '45']",78227,2623,"['Seafood', 'Mexican', 'Breakfast & Brunch']",15135.333193,67.0,-98.630340,29.403300,La Michelada Grill,32,D,94,4.0,2
2399,2399,2019-06-10,Jeffrey Carrizales,8,"['2', '3', '7', '7', '15', '18', '35', '35']",78229,7220,['Sandwiches'],6052.463152,153.0,-98.576590,29.500790,Sandwich De Paris,7,A,96,4.5,1
2400,2400,2019-06-10,Diana Garcia,4,"['28', '30', '32', '45']",78216,7400,"['Desserts', 'American (Traditional)']",3265.934910,389.0,-98.495625,29.518842,The Cheesecake Factory,11,B,93,3.5,2
2401,2401,2019-06-10,RYAN DAVIS,0,[],78248,15502,['Coffee & Tea'],10180.204634,104.0,-98.533989,29.584412,Mildfire Coffee Roasters,9,A,100,4.0,1
2403,2403,2019-06-12,Jeffrey Carrizales,3,"['2', '19', '38']",78230,9825,"['Pizza', 'Italian', 'Sandwiches']",6265.589509,165.0,-98.562139,29.532510,Goomba's Pizzeria,7,A,97,4.0,1
2404,2404,2019-06-11,Nathan Balfour,1,['30'],78249,6563,"['Shaved Ice', 'Mexican', 'Ice Cream & Frozen ...",11794.267993,63.0,-98.614490,29.555020,Señor Snow,3,A,98,4.5,1
2405,2405,2019-06-11,Nathan Balfour,2,"['34', '39']",78256,15606,['Mexican'],14923.420659,33.0,-98.623548,29.589285,Taco Cabana,3,A,98,2.5,1
2406,2406,2019-06-11,Jeffrey Carrizales,3,"['2', '3', '25']",78229,9102,"['Sushi Bars', 'Japanese', 'Mexican']",6168.332679,645.0,-98.566120,29.526650,Yellowfish Sushi,7,A,100,4.5,1
2407,2407,2019-06-11,Jeffrey Carrizales,3,"['2', '3', '25']",78229,9102,"['Sushi Bars', 'Japanese', 'Mexican']",6168.332679,645.0,-98.566120,29.526650,Yellowfish Sushi,7,A,100,4.5,1
2408,2408,2019-06-12,Jeffrey Carrizales,3,"['2', '19', '38']",78230,9825,"['Pizza', 'Italian', 'Sandwiches']",6265.589509,165.0,-98.562139,29.532510,Goomba's Pizzeria,7,A,97,4.0,1

In [53]:
new_df.describe()

,Unnamed: 0,number_of_violations,zip_code,house_numbers,distance,review_count,longitude,latitude,sector,total_score,rating
count,1819.000000,1819.000000,1819.000000,1819.000000,1819.000000,1819.000000,1819.000000,1819.000000,1819.000000,1819.000000,1819.00000
mean,1166.623969,5.083562,78220.822980,4786.601979,7830.658386,210.773502,-98.514180,29.489616,15.979659,93.996701,3.67867
std,709.571052,4.894222,15.141376,4756.819669,3071.910037,288.209398,0.058260,0.055949,9.217881,5.437513,0.66952
min,0.000000,0.000000,78201.000000,21.000000,811.199667,22.000000,-98.708442,29.354318,1.000000,56.000000,1.00000
25%,530.500000,2.000000,78209.000000,822.500000,5929.771588,55.000000,-98.564562,29.434249,8.000000,91.000000,3.50000
50%,1172.000000,4.000000,78216.000000,2918.000000,7986.163583,109.000000,-98.495517,29.492450,16.000000,95.000000,4.00000
75%,1782.500000,7.000000,78230.000000,8229.000000,9377.441334,251.000000,-98.480431,29.530199,22.000000,98.000000,4.00000
max,2408.000000,50.000000,78259.000000,22211.000000,20222.717722,2661.000000,-98.398119,29.661520,35.000000,100.000000,5.00000

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [15]:
#training / test split
X= new_df[['number_of_violations', 'review_count', 'rating']]
y= new_df['health_scores']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123, stratify=new_df.health_scores)

X_train.head()

      number_of_violations  review_count  rating
2021                     0         193.0     4.0
186                      2         418.0     3.5
1068                     4         238.0     4.0
513                      4          22.0     3.0
1436                     5         118.0     3.0

In [16]:
# for classification you can change the algorithm to gini or entropy (information gain).  Default is gini.
clf = DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=123)

In [17]:
#Fit the model to the training data

clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=123, splitter='best')

In [18]:
#Estimate health group

y_pred = clf.predict(X_train)
y_pred[1:5]

array(['1', '1', '2', '2'], dtype=object)

In [19]:
#Estimate the probability of a health group
y_pred_proba = clf.predict_proba(X_train)
y_pred_proba

array([[0.91954023, 0.08045977, 0.        ],
       [0.82352941, 0.16806723, 0.00840336],
       [0.47321429, 0.46428571, 0.0625    ],
       ...,
       [0.16129032, 0.55913978, 0.27956989],
       [0.03703704, 0.03703704, 0.92592593],
       [0.82352941, 0.16806723, 0.00840336]])

In [20]:
confusion_matrix(y_train, y_pred)

array([[533,  51,  14],
       [140, 206,  44],
       [ 22,  80, 183]])

In [21]:
#Accuracy: number of correct predictions over the number of total instances that have been evaluated.
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.72

In [22]:
#Test Model

#Compute the accuracy of the model when run on the test data

print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))

Accuracy of Decision Tree classifier on test set: 0.69

In [23]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           1       0.77      0.89      0.82       598
           2       0.61      0.53      0.57       390
           3       0.76      0.64      0.70       285

    accuracy                           0.72      1273
   macro avg       0.71      0.69      0.70      1273
weighted avg       0.72      0.72      0.72      1273

In [24]:
clf

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=123, splitter='best')

In [25]:
#Encoding

In [55]:
#Label Encoding the inspector column
label_enc= LabelEncoder()
new_df['inspector_encode'] = label_enc.fit_transform(new_df.inspector)

In [29]:
#new_df['inspector_encode'].max()

35

In [33]:
#print(len(X[0]))

36

In [56]:
#OneHot Encoding
one_enc = OneHotEncoder()
X = one_enc.fit_transform(new_df.inspector_encode.values.reshape(-1,1)).toarray()
print(X)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [89]:
#Joining the encoded data to the main Df
dfOneHot = pd.DataFrame(X, columns = ["health_inspector_"+str(int(i)) for i in range(X.shape[1])])
#print(len(dfOneHot))
#print(len(new_df))
#new_df = pd.concat([new_df, dfOneHot], axis=1)
#new_df=new_df.drop(columns=['inspector_0', 'inspector_1'])
#len(pd.concat([new_df, dfOneHot], axis = 1))
#dfOneHot = dfOneHot.reset_index()
#print(dfOneHot)
#new_df = new_df.reset_index()
#new_df = new_df.drop(columns = ['Unnamed: 0'])
#new_df
#new_one = dfOneHot.reset_index()
#new_one
#new_df

#final = new_one.join(new_df, on = 'index')

1819
1819

In [108]:
#new_df = new_df.reset_index()
#new_df['index']= new_df['level_0']
#new_df['index']
#dfOneHot = dfOneHot.reset_index()
#dfOneHot['index']
new_df.join(dfOneHot, on = 'index', lsuffix='_left', rsuffix='_right')

,level_0,index_left,inspection_date,inspector,number_of_violations,violations,zip_code,house_numbers,categories,distance,review_count,longitude,latitude,name,sector,district,total_score,rating,health_scores,inspector_encode,index_right,health_inspector_0,health_inspector_1,health_inspector_2,health_inspector_3,health_inspector_4,health_inspector_5,health_inspector_6,health_inspector_7,health_inspector_8,health_inspector_9,health_inspector_10,health_inspector_11,health_inspector_12,health_inspector_13,health_inspector_14,health_inspector_15,health_inspector_16,health_inspector_17,health_inspector_18,health_inspector_19,health_inspector_20,health_inspector_21,health_inspector_22,health_inspector_23,health_inspector_24,health_inspector_25,health_inspector_26,health_inspector_27,health_inspector_28,health_inspector_29,health_inspector_30,health_inspector_31,health_inspector_32,health_inspector_33,health_inspector_34,health_inspector_35
0,0,0,2019-01-02,Cicily Martinez,3,"['22', '29', '45']",78212,2524,"['Italian', 'Desserts', 'Seafood']",4950.353662,99.0,-98.493780,29.453730,Capparelli's On Main,35,D,97,3.5,1,5,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,2019-03-06,RYAN DAVIS,1,['31'],78230,14439,"['French', 'Asian Fusion', 'Tapas/Small Plates']",9312.955170,102.0,-98.544540,29.573330,Frederick's Bistro,9,A,98,4.0,1,28,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2,2019-11-04,Cicily Martinez,3,"['10', '15', '40']",78201,914,['Mexican'],3194.340357,42.0,-98.508619,29.466156,Fina's Kitchen,35,D,93,4.0,2,5,2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,3,2019-03-14,RYAN DAVIS,0,[],78230,13151,['Barbeque'],7935.733616,41.0,-98.537950,29.562850,Bill Miller Bar-B-Q,9,A,100,2.5,1,28,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,4,2019-03-14,RYAN DAVIS,1,['21'],78230,10003,['American (Traditional)'],6996.407916,434.0,-98.536348,29.554391,Green Vegetarian Cuisine,9,A,98,4.5,1,28,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,5,2019-03-14,RYAN DAVIS,1,['18'],78230,10003,['Vietnamese'],6937.261517,70.0,-98.534051,29.554894,Pho VN Bistro,9,A,97,3.5,1,28,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6,6,2019-07-05,Cicily Martinez,3,"['1', '39', '45']",78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,95,3.5,2,5,6,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,7,7,2019-07-05,Cicily Martinez,3,"['1', '39', '45']",78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,95,3.5,2,5,7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,8,8,2019-07-05,RYAN DAVIS,0,[],78230,10003,['American (Traditional)'],6996.407916,434.0,-98.536348,29.554391,Green Vegetarian Cuisine,9,A,100,4.5,1,28,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,9,9,2019-07-05,Cicily Martinez,3,"['9', '37', '40']",78201,914,['Mexican'],3194.340357,42.0,-98.508619,29.466156,Fina's Kitchen,35,D,95,4.0,2,5,9,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,10,10,2019-03-19,Daisy Zamora,4,"['41', '45', '47', '47']",78247,13800,"['Barbeque', 'Moroccan']",9970.923827,99.0,-98.452140,29.565790,Bushwood BBQ,15,B,97,4.0,1,6,10,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,11,11,2019-03-19,Daisy Zamora,4,"['41', '45', '47', '47']",78247,13800,"['Barbeque', 'Moroccan']",9970.923827,99.0,-98.452140,29.565790,Bushwood BBQ,15,B,97,4.0,1,6,11,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,12,12,2019-03-19,Daisy Zamora,4,"['41', '45', '47', '47']",78247,13800,['Bars'],9971.412110,32.0,-98.452140,29.565790,Bushwood CC,15,B,97,3.5,1,6,12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,13,13,2019-03-19,MICHELLE MORENO,9,"['10', '21', '22', '28', '31', '32', '33', '34...",78238,6420,['Sports Bars'],10198.081680,33.0,-98.615440,29.468060,Perfect Score,31,D,92,2.5,2,23,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,14,14,2019-11-04,Cicily Martinez,4,"['30', '37', '41', '45']",78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,97,3.5,1,5,14,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,15,15,2019-11-04,Cicily Martinez,4,"['30', '37', '41', '45']",78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,97,3.5,1,5,15,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,16,16,2019-11-05,Kassandra Aguilar,3,"['10', '35', '43']",78208,1720,['Barbeque'],7981.026377,25.0,-98.460721,29.439958,Bill Miller Bar-B-Q,20,C,95,3.0,2,20,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,17,17,2019-03-11,Nathan Balfour,2,"['42', '42']",78256,15900,['Fast Food'],14587.006772,42.0,-98.613920,29.592997,Chick-fil-A,3,A,99,2.5,1,27,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,18,18,2019-11-12 00:00:00,Nathan Balfour,2,"['31', '42']",78256,15900,['Fast Food'],14587.006772,42.0,-98.613920,29.592997,Chick-fil-A,3,A,97,2.5,1,27,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,19,19,2019-03-08,Sumner Bumgardner,1,['29'],78205,501,['Barbeque'],7627.166743,26.0,-98.491648,29.428770,Bill Miller Bar-B-Q,19,C,100,2.5,1,31,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
20,20,20,2019-07-15,Jacob Johanson,15,"['2', '3', '10', '10', '18', '18', '22', '28',...",78212,145,"['Mexican', 'Tex-Mex', 'Breakfast & Brunch']",3759.373526,531.0,-98.492280,29.466740,Taco Taco Cafe,18,B,76,2.5,3,14,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,21,21,2019-09-17,Sumner Bumgardner,6,"['21', '28', '29', '30', '32', '41']",78212,1222,"['Korean', 'Cafes', 'Chinese']",6348.255594,41.0,-98.493590,29.440100,Cypress Cafe,19,C,96,4.5,1,31,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
22,22,22,2019-07-15,Jacob Johanson,15,"['2', '3', '10', '10', '18', '18', '22', '28',...",78212,145,"['Mexican', 'Tex-Mex', 'Breakfast & Brunch']",3759.373526,531.0,-98.492280,29.466740,Taco Taco Cafe,18,B,76,2.5,3,14,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,23,23,2019-03-12,MICHELLE MORENO,8,"['10', '15', '18', '34', '36', '39', '42', '45']",78238,6424,['Vietnamese'],10196.243505,375.0,-98.615470,29.468550,Pho Ha Long,31,D,89,4.0,3,23,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,24,24,2019-09-26,Nathan Balfour,2,"['32', '42']",78256,15900,"['Bars', 'American (New)', 'Gastropubs']",14414.111625,282.0,-98.610961,29.593167,Bar Louie,3,A,97,3.5,1,27,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,25,25,2019-06-28,Erica Llanas,5,"['22', '27', '30', '40', '46']",78259,3111,"['Thai', 'Chinese', 'Mongolian']",20011.659598,145.0,-98.436960,29.661520,Thai Hut Bistro,14,B,94,4.0,2,12,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,26,26,2019-03-20,Nathan Balfour,3,"['18', '21', '31']",78256,15900,"['Bakeries', 'Desserts', 'Patisserie/Cake Shop']",14534.940001,145.0,-98.613948,29.592351,Carlo's Bakery,3,A,93,3.0,2,27,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,27,27,2019-03-20,Nathan Balfour,2,"['31', '39']",78256,15900,['Pizza'],14442.698114,418.0,-98.612220,29.592565,Grimaldi's Pizzeria,3,A,97,3.5,1,27,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,28,28,2019-04-02,Diana Garcia,5,"['18', '19', '30', '39', '45']",78216,618,"['Comedy Clubs', 'Lounges']",2909.634986,105.0,-98.502491,29.518464,Laugh Out Loud Comedy Club,11,B,92,3.5,2,10,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,29,29,2019-10-25,Cicily Martinez,0,[],78212,1906,"['Pizza', 'Salad', 'Italian']",5594.631902,214.0,-98.493900,29.447410,Main Street Pizza & Pasta,35,D,100,4.0,1,5,29,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1789,1789,1789,2019-06-04,Debra Hernandez,4,"['2', '28', '30', '37']",78228,2703,['Barbeque'],6345.371319,42.0,-98.552440,29.448090,Bill Miller Bar-B-Q,34,D,97,3.0,1,9,1789,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1790,1790,1790,2019-06-04,Daisy Zamora,7,"['21', '30', '34', '41', '42', '45', '46']",78217,11842,['Barbeque'],11813.588065,23.0,-98.408776,29.547721,Bill Miller Bar-B-Q,15,B,95,3.0,2,6,1790,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1791,1791,1791,2019-06-03,Deborah Liu,2,"['3', '10']",78229,4727,"['Mexican', 'Fast Food']",6444.850596,71.0,-98.578407,29.510452,Chipotle Mexican Grill,6,A,94,3.5,2,8,1791,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1792,1792,1792,2019-05-31,Valerie Suarez,12,"['9', '9', '21', '27', '29', '30', '33', '34',...",78229,5337,['Chinese'],7754.848323,84.0,-98.593074,29.487374,Gin Chinese Restaurant,1,A,90,4.0,3,32,1792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1793,1793,1793,2019-05-31,Valerie Suarez,9,"['18', '19', '21', '30', '32', '32', '35', '39...",78240,5440,['Chinese'],8110.346393,160.0,-98.594131,29.516031,Royal Inn Oriental Cuisine,1,A,89,4.0,3,32,1793,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1794,1794,1794,2019-05-31,Jacob Johanson,4,"['19', '19', '20', '21']",78209,1435,"['Burgers', 'Fast Food', 'Ice Cream & Frozen Y...",7525.298843,33.0,-98.436666,29.493140,Sonic Drive-In,18,B,92,1.5,2,14,1794,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1795,1795,1795,2019-05-31,Valerie Suarez,7,"['9', '21', '22', '30', '32', '37', '46']",78238,5520,['Thai'],7987.495094,204.0,-98.596567,29.487705,Thai Taste,1,A,91,4.0,2,32,1795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1796,1796,1796,2019-05-31,Benito Zuniga,0,[],78216,606,['Breweries'],8153.106094,146.0,-98.489170,29.564690,Weathered Souls Brewing,13,B,100,4.5,1,3,1796,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1797,1797,1797,2019-06-03,Valerie Suarez,7,"['5', '21', '24', '29', '30', '34', '46']",78228,4823,"['Mexican', 'Juice Bars & Smoothies']",6872.025703,41.0,-98.582108,29.476030,Fruteria Las Gueras,1,A,96,3.5,1,32,1797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1798,1798,1798,2019-06-03,Benito Zuniga,8,"['9', '22', '31', '34', '42', '42', '45', '45']",78216,92,"['Steakhouses', 'American (Traditional)', 'Bar...",3981.475227,201.0,-98.484885,29.519380,Logan's Roadhouse,13,B,90,2.0,3,3,1798,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1799,1799,1799,2019-06-03,Jeffrey Carrizales,15,"['1', '9', '9', '10', '10', '19', '21', '28', ...",78201,4223,['Mexican'],1146.515037,260.0,-98.507971,29.485780,Los Barrios Mexican Restaurant,8,A,90,3.5,3,15,1799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1800,1800,1800,2019-06-13,Jeffrey Carrizales,0,[],78229,7460,['Imported Food'],4419.749770,155.0,-98.558931,29.503267,Minnano Japanese Grocery,7,A,100,4.5,1,15,1800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1801,1801,1801,2019-06-13,Jeffrey Carrizales,2,"['2', '27']",78229,1721,"['Ethiopian', 'Vegetarian', 'Eritrean']",5401.118910,134.0,-98.570210,29.494470,Rehoboth Eritrean-Ethiopian Cuisine,7,A,100,4.5,1,15,1801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1802,1802,1802,2019-06-14,Sumner Bumgardner,2,"['28', '29']",78215,102,"['Cocktail Bars', 'Lounges', 'Coffee & Tea']",7225.042992,429.0,-98.483633,29.435242,Paramour,19,C,98,3.0,1,31,1802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1803,1803,1803,2019-06-14,Bernard Capdeboscq,0,[],78218,4114,['Thai'],9846.229296,197.0,-98.413124,29.484283,Thai House Restaurant,17,B,100,4.5,1,4,1803,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1804,1804,1804,2019-06-17,Bernard Capdeboscq,3,"['28', '36', '41']",78218,1015,"['Cajun/Creole', 'Barbeque', 'Food Trucks']",8408.810009,179.0,-98.428160,29.485323,225 Urban Smoke,17,B,96,4.5,1,4,1804,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1805,1805,1805,2019-06-17,Bernard Capdeboscq,3,"['28', '36', '41']",78218,1015,"['Cajun/Creole', 'Barbeque', 'Food Trucks']",8408.810009,179.0,-98.428160,29.485323,225 Urban Smoke,17,B,96,4.5,1,4,1805,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1806,1806,1806,2019-06-17,Raul Jimenez,7,"['2', '15', '22', '25', '30', '32', '39']",78230,2619,"['Sushi Bars', 'Japanese']",2946.584338,318.0,-98.535816,29.513278,Goro's Sushi,8,A,89,4.0,3,29,1806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1807,1807,1807,2019-06-17,Jeffrey Carrizales,3,"['19', '21', '33']",78229,7970,"['Delis', 'Sandwiches', 'Fast Food']",5600.662622,57.0,-98.568289,29.512812,Jersey Mike's Subs,7,A,100,3.5,1,15,1807,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1808,1808,1808,2019-06-17,RYAN DAVIS,2,"['42', '45']",78230,11255,"['Italian', 'Venues & Event Spaces', 'Seafood']",8505.690948,321.0,-98.578162,29.547100,Luce Ristorante e Enoteca,9,A,98,4.0,1,28,1808,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1809,1809,1809,2019-06-11,Juanicia Page,6,"['31', '34', '39', '39', '41', '45']",78227,2623,"['Seafood', 'Mexican', 'Breakfast & Brunch']",15135.333193,67.0,-98.630340,29.403300,La Michelada Grill,32,D,94,4.0,2,18,1809,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1810,1810,1810,2019-06-10,Jeffrey Carrizales,8,"['2', '3', '7', '7', '15', '18', '35', '35']",78229,7220,['Sandwiches'],6052.463152,153.0,-98.576590,29.500790,Sandwich De Paris,7,A,96,4.5,1,15,1810,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1811,1811,1811,2019-06-10,Diana Garcia,4,"['28', '30', '32', '45']",78216,7400,"['Desserts', 'American (Traditional)']",3265.934910,389.0,-98.495625,29.518842,The Cheesecake Factory,11,B,93,3.5,2,10,1811,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1812,1812,1812,2019-06-10,RYAN DAVIS,0,[],78248,15502,['Coffee & Tea'],10180.204634,104.0,-98.533989,29.584412,Mildfire Coffee Roasters,9,A,100,4.0,1,28,1812,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1813,1813,1813,2019-06-12,Jeffrey Carrizales,3,"['2', '19', '38']",78230,9825,"['Pizza', 'Italian', 'Sandwiches']",6265.589509,165.0,-98.562139,29.532510,Goomba's Pizzeria,7,A,97,4.0,1,15,1813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1814,1814,1814,2019-06-11,Nathan Balfour,1,['30'],78249,6563,"['Shaved Ice', 'Mexican', 'Ice Cream & Frozen ...",11794.267993,63.0,-98.614490,29.555020,Señor Snow,3,A,98,4.5,1,27,1814,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1815,1815,1815,2019-06-11,Nathan Balfour,2,"['34', '39']",78256,15606,['Mexican'],14923.420659,33.0,-98.623548,29.589285,Taco Cabana,3,A,98,2.5,1,27,1815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [109]:
new_df.dropna()
new_df.isnull().sum()

level_0                 0
index                   0
inspection_date         0
inspector               0
number_of_violations    0
violations              0
zip_code                0
house_numbers           0
categories              0
distance                0
review_count            0
longitude               0
latitude                0
name                    0
sector                  0
district                0
total_score             0
rating                  0
health_scores           0
inspector_encode        0
dtype: int64

In [112]:
#### Decision tree including number of review, total violations, yelp score, and inspector
#training / test split
X1= new_df.drop(columns=['inspection_date', 'inspector', 'violations', 'zip_code', 'house_numbers', 'categories', 'distance', 'longitude', 'latitude', 'name', 'sector', 'district', 'health_scores'])
y1= new_df['health_scores']

X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size = .30, random_state = 123, stratify=new_df.health_scores)
X_train1.head()

,level_0,index,number_of_violations,review_count,total_score,rating,inspector_encode
1532,1532,1532,0,193.0,100,4.0,14
163,163,163,2,418.0,96,3.5,27
846,846,846,4,238.0,93,4.0,14
442,442,442,4,22.0,94,3.0,31
1109,1109,1109,5,118.0,90,3.0,8

In [120]:
# for classification you can change the algorithm to gini or entropy (information gain).  Default is gini.
clf1 = DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=123)

In [121]:
clf1.fit(X_train1, y_train1)

NameError: name 'X_train1' is not defined

In [122]:
#Estimate health group

y_pred1 = clf1.predict(X_train1)
y_pred1[1:5]

NameError: name 'X_train1' is not defined

In [123]:
#Estimate the probability of a health group
y_pred_proba1 = clf1.predict_proba1(X_train1)
y_pred_proba1

AttributeError: 'DecisionTreeClassifier' object has no attribute 'predict_proba1'

In [124]:
confusion_matrix(y_train1, y_pred1)

NameError: name 'y_train1' is not defined

In [119]:
#Accuracy: number of correct predictions over the number of total instances that have been evaluated.
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf1.score(X_train1, y_train1)))

Accuracy of Decision Tree classifier on training set: 1.00