In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import descartes
import geopandas as gpd
from shapely.geometry import Point, Polygon
import folium
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from scipy import stats

In [2]:
df=pd.read_csv('merged.csv')

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df=pd.DataFrame(df)

In [5]:
df= df.drop(df[['transactions', 'price', 'establishment_x', 'establishment_y', 'address_x', 'address_y', 'trimmed_name_x', 'trimmed_name_y', 'clean_address_x', 'clean_address_y', 'address_distance', 'name_distance']], axis=1)

In [6]:
#Dropped all establishments with less than 22 reviews
df=  df[df['review_count'] >= 22]

In [7]:
df.describe()
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1820 entries, 0 to 2408
Data columns (total 17 columns):
Unnamed: 0              1820 non-null int64
inspection_date         1820 non-null object
inspector               1820 non-null object
number_of_violations    1820 non-null int64
violations              1820 non-null object
zip_code                1820 non-null int64
house_numbers           1820 non-null int64
categories              1820 non-null object
distance                1820 non-null float64
review_count            1820 non-null float64
longitude               1820 non-null float64
latitude                1820 non-null float64
name                    1820 non-null object
sector                  1820 non-null int64
district                1820 non-null object
total_score             1820 non-null int64
rating                  1820 non-null float64
dtypes: float64(5), int64(6), object(6)
memory usage: 255.9+ KB

,Unnamed: 0,inspection_date,inspector,number_of_violations,violations,zip_code,house_numbers,categories,distance,review_count,longitude,latitude,name,sector,district,total_score,rating
0,0,2019-01-02,Cicily Martinez,3,"['22', '29', '45']",78212,2524,"['Italian', 'Desserts', 'Seafood']",4950.353662,99.0,-98.493780,29.453730,Capparelli's On Main,35,D,97,3.5
1,1,2019-03-06,RYAN DAVIS,1,['31'],78230,14439,"['French', 'Asian Fusion', 'Tapas/Small Plates']",9312.955170,102.0,-98.544540,29.573330,Frederick's Bistro,9,A,98,4.0
3,3,2019-11-04,Cicily Martinez,3,"['10', '15', '40']",78201,914,['Mexican'],3194.340357,42.0,-98.508619,29.466156,Fina's Kitchen,35,D,93,4.0
4,4,2019-03-14,RYAN DAVIS,0,[],78230,13151,['Barbeque'],7935.733616,41.0,-98.537950,29.562850,Bill Miller Bar-B-Q,9,A,100,2.5
5,5,2019-03-14,RYAN DAVIS,1,['21'],78230,10003,['American (Traditional)'],6996.407916,434.0,-98.536348,29.554391,Green Vegetarian Cuisine,9,A,98,4.5

# START COPYING FROM HERE

In [8]:
#grouped health scores into 4 groups.
health_scores= {'health_scores' : []}
for x in df['total_score']:
#     print(x)
    if x > 99:
        health_scores['health_scores'].append('1')
    elif x>=96:
        health_scores['health_scores'].append('2')
    elif x >=92:
        health_scores['health_scores'].append('3')
    else :
        health_scores['health_scores'].append('4')
#df
df['health_scores']= health_scores['health_scores']

In [9]:
df['health_scores'].value_counts()

2    523
4    508
3    458
1    331
Name: health_scores, dtype: int64

In [10]:
# confirm sector and inspecor are dependent on each other, i.e. inspectors generally stick to one sector
# this would also indicate the restaurants generally have the same inspectors. We will use that assumption in the model. 
# pd.crosstab(df.inspector, df.sector).T

In [11]:
#encode for the inspectors
df['inspector'].value_counts()

Lauren Schumacher     180
Jeffrey Carrizales    136
RYAN DAVIS            129
Jacob Johanson        128
Sumner Bumgardner     117
Bamba Njie             89
Diana Garcia           88
Deborah Liu            82
Bernard Capdeboscq     79
Cicily Martinez        77
Valerie Suarez         75
Benito Zuniga          72
Daisy Zamora           68
Nathan Balfour         64
Raul Jimenez           38
John Payelle           38
William Hudson         37
Kassandra Aguilar      35
Debra Hernandez        31
Erica Arreola          27
Mario Cavazos          27
MICHELLE MORENO        26
William Emminger       26
Kathleen Prenzler      26
Amanda Cantu           22
Kacie Patrick          20
Adan Zamora            18
Sean Gilbert           16
Fermin Garza           15
Monica Caballero        7
Victoria Paredes        7
Juanicia Page           6
Joe Mokry               5
Maurico Ripley          3
Daniel Guzman           3
Erica Llanas            2
Rebecca Vera            1
Name: inspector, dtype: int64

In [12]:
contingency_table = pd.crosstab(df.inspector, df.health_scores, margins=True)
contingency_table = contingency_table[contingency_table.All > 20]
contingency_table['less_92'] = round(contingency_table['4']/contingency_table['All'],2)
contingency_table['92_to_95'] = round(contingency_table['3']/contingency_table['All'],2)
contingency_table['96_to_99'] = round(contingency_table['2']/contingency_table['All'],2)
contingency_table['100'] = round(contingency_table['1']/contingency_table['All'],2)
contingency_table.reset_index(inplace = True)
contingency_table

health_scores,inspector,1,2,3,4,All,less_92,92_to_95,96_to_99,100
0,Amanda Cantu,3,9,9,1,22,0.05,0.41,0.41,0.14
1,Bamba Njie,1,21,35,32,89,0.36,0.39,0.24,0.01
2,Benito Zuniga,11,18,21,22,72,0.31,0.29,0.25,0.15
3,Bernard Capdeboscq,9,21,21,28,79,0.35,0.27,0.27,0.11
4,Cicily Martinez,10,18,26,23,77,0.30,0.34,0.23,0.13
5,Daisy Zamora,14,36,11,7,68,0.10,0.16,0.53,0.21
6,Deborah Liu,8,34,30,10,82,0.12,0.37,0.41,0.10
7,Debra Hernandez,13,11,3,4,31,0.13,0.10,0.35,0.42
8,Diana Garcia,1,14,30,43,88,0.49,0.34,0.16,0.01
9,Erica Arreola,6,7,7,7,27,0.26,0.26,0.26,0.22
10,Jacob Johanson,16,48,25,39,128,0.30,0.20,0.38,0.12
11,Jeffrey Carrizales,46,28,26,36,136,0.26,0.19,0.21,0.34
12,John Payelle,7,13,13,5,38,0.13,0.34,0.34,0.18
13,Kassandra Aguilar,2,5,8,20,35,0.57,0.23,0.14,0.06
14,Kathleen Prenzler,0,6,5,15,26,0.58,0.19,0.23,0.00
15,Lauren Schumacher,4,26,47,103,180,0.57,0.26,0.14,0.02
16,MICHELLE MORENO,4,5,6,11,26,0.42,0.23,0.19,0.15
17,Mario Cavazos,3,7,8,9,27,0.33,0.30,0.26,0.11
18,Nathan Balfour,23,20,18,3,64,0.05,0.28,0.31,0.36
19,RYAN DAVIS,81,32,13,3,129,0.02,0.10,0.25,0.63
20,Raul Jimenez,4,2,15,17,38,0.45,0.39,0.05,0.11
21,Sumner Bumgardner,22,61,27,7,117,0.06,0.23,0.52,0.19
22,Valerie Suarez,11,22,14,28,75,0.37,0.19,0.29,0.15
23,William Emminger,5,5,10,6,26,0.23,0.38,0.19,0.19
24,William Hudson,11,12,10,4,37,0.11,0.27,0.32,0.30
25,All,331,523,458,508,1820,0.28,0.25,0.29,0.18

In [13]:
df = df.merge(contingency_table)

In [14]:
df

,Unnamed: 0,inspection_date,inspector,number_of_violations,violations,zip_code,house_numbers,categories,distance,review_count,longitude,latitude,name,sector,district,total_score,rating,health_scores,1,2,3,4,All,less_92,92_to_95,96_to_99,100
0,0,2019-01-02,Cicily Martinez,3,"['22', '29', '45']",78212,2524,"['Italian', 'Desserts', 'Seafood']",4950.353662,99.0,-98.493780,29.453730,Capparelli's On Main,35,D,97,3.5,2,10,18,26,23,77,0.30,0.34,0.23,0.13
1,3,2019-11-04,Cicily Martinez,3,"['10', '15', '40']",78201,914,['Mexican'],3194.340357,42.0,-98.508619,29.466156,Fina's Kitchen,35,D,93,4.0,3,10,18,26,23,77,0.30,0.34,0.23,0.13
2,7,2019-07-05,Cicily Martinez,3,"['1', '39', '45']",78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,95,3.5,3,10,18,26,23,77,0.30,0.34,0.23,0.13
3,8,2019-07-05,Cicily Martinez,3,"['1', '39', '45']",78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,95,3.5,3,10,18,26,23,77,0.30,0.34,0.23,0.13
4,10,2019-07-05,Cicily Martinez,3,"['9', '37', '40']",78201,914,['Mexican'],3194.340357,42.0,-98.508619,29.466156,Fina's Kitchen,35,D,95,4.0,3,10,18,26,23,77,0.30,0.34,0.23,0.13
5,15,2019-11-04,Cicily Martinez,4,"['30', '37', '41', '45']",78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,97,3.5,2,10,18,26,23,77,0.30,0.34,0.23,0.13
6,16,2019-11-04,Cicily Martinez,4,"['30', '37', '41', '45']",78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,97,3.5,2,10,18,26,23,77,0.30,0.34,0.23,0.13
7,32,2019-10-25,Cicily Martinez,0,[],78212,1906,"['Pizza', 'Salad', 'Italian']",5594.631902,214.0,-98.493900,29.447410,Main Street Pizza & Pasta,35,D,100,4.0,1,10,18,26,23,77,0.30,0.34,0.23,0.13
8,42,2019-03-21,Cicily Martinez,1,['31'],78212,3233,"['Coffee & Tea', 'Coffee Roasteries']",5303.393739,208.0,-98.483310,29.454800,Summer Moon Coffee Bar,35,D,100,4.5,1,10,18,26,23,77,0.30,0.34,0.23,0.13
9,71,2019-02-25,Cicily Martinez,0,[],78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,100,3.5,1,10,18,26,23,77,0.30,0.34,0.23,0.13
10,74,2019-02-25,Cicily Martinez,4,"['10', '28', '34', '42']",78201,914,['Mexican'],3194.340357,42.0,-98.508619,29.466156,Fina's Kitchen,35,D,93,4.0,3,10,18,26,23,77,0.30,0.34,0.23,0.13
11,76,2019-02-25,Cicily Martinez,0,[],78201,919,"['Tex-Mex', 'Breakfast & Brunch']",3138.557809,145.0,-98.508632,29.466663,Rolando's Super Tacos No 1,35,D,100,3.5,1,10,18,26,23,77,0.30,0.34,0.23,0.13
12,80,2019-07-30,Cicily Martinez,4,"['2', '10', '18', '18']",78212,1906,"['Pizza', 'Salad', 'Italian']",5594.631902,214.0,-98.493900,29.447410,Main Street Pizza & Pasta,35,D,91,4.0,4,10,18,26,23,77,0.30,0.34,0.23,0.13
13,84,2019-11-19 00:00:00,Cicily Martinez,15,"['2', '3', '10', '10', '10', '10', '18', '29',...",78212,1503,"['Bars', 'Burgers', 'Breakfast & Brunch']",6036.131238,328.0,-98.494433,29.443014,Luther's Cafe,35,D,80,3.0,4,10,18,26,23,77,0.30,0.34,0.23,0.13
14,87,2019-09-12,Cicily Martinez,0,[],78212,720,['Cajun/Creole'],5401.797240,406.0,-98.485084,29.453105,Cookhouse,35,D,100,4.5,1,10,18,26,23,77,0.30,0.34,0.23,0.13
15,98,2019-05-16,Cicily Martinez,4,"['18', '28', '35', '45']",78212,720,['Cajun/Creole'],5401.797240,406.0,-98.485084,29.453105,Cookhouse,35,D,94,4.5,3,10,18,26,23,77,0.30,0.34,0.23,0.13
16,101,2019-05-14,Cicily Martinez,7,"['18', '28', '35', '35', '37', '39', '45']",78212,2524,"['Italian', 'Desserts', 'Seafood']",4950.353662,99.0,-98.493780,29.453730,Capparelli's On Main,35,D,91,3.5,4,10,18,26,23,77,0.30,0.34,0.23,0.13
17,106,2019-05-16,Cicily Martinez,11,"['2', '18', '28', '30', '34', '37', '37', '39'...",78212,3011,"['Coffee & Tea', 'Wine Bars', 'Breakfast & Bru...",5435.230992,434.0,-98.484652,29.452985,Candlelight Coffeehouse,35,D,87,4.0,4,10,18,26,23,77,0.30,0.34,0.23,0.13
18,107,2019-05-16,Cicily Martinez,11,"['2', '18', '28', '30', '34', '37', '37', '39'...",78212,3011,"['Coffee & Tea', 'Wine Bars', 'Breakfast & Bru...",5435.230992,434.0,-98.484652,29.452985,Candlelight Coffeehouse,35,D,87,4.0,4,10,18,26,23,77,0.30,0.34,0.23,0.13
19,110,2019-09-26,Cicily Martinez,19,"['2', '10', '10', '10', '18', '19', '22', '28'...",78212,1503,"['Bars', 'Burgers', 'Breakfast & Brunch']",6036.131238,328.0,-98.494433,29.443014,Luther's Cafe,35,D,78,3.0,4,10,18,26,23,77,0.30,0.34,0.23,0.13
20,116,2019-06-11,Cicily Martinez,5,"['9', '35', '37', '37', '45']",78201,1535,"['Mexican', 'Breakfast & Brunch']",3142.464101,62.0,-98.520600,29.466670,El Rafa's Cafe,35,D,94,4.0,3,10,18,26,23,77,0.30,0.34,0.23,0.13
21,133,2019-10-17,Cicily Martinez,5,"['15', '22', '35', '37', '45']",78201,1535,"['Mexican', 'Breakfast & Brunch']",3142.464101,62.0,-98.520600,29.466670,El Rafa's Cafe,35,D,92,4.0,3,10,18,26,23,77,0.30,0.34,0.23,0.13
22,141,2019-04-08,Cicily Martinez,2,"['15', '37']",78212,1906,"['Pizza', 'Salad', 'Italian']",5594.631902,214.0,-98.493900,29.447410,Main Street Pizza & Pasta,35,D,97,4.0,2,10,18,26,23,77,0.30,0.34,0.23,0.13
23,154,2019-05-09,Cicily Martinez,5,"['2', '10', '28', '30', '35']",78212,2415,"['Mexican', 'Tex-Mex']",5057.327443,660.0,-98.494290,29.452500,La Fonda on Main,35,D,91,4.0,4,10,18,26,23,77,0.30,0.34,0.23,0.13
24,161,2019-10-11,Cicily Martinez,3,"['1', '9', '45']",78212,504,['Mexican'],3359.001922,33.0,-98.501744,29.466312,Mama's Kitchen,35,D,93,4.5,3,10,18,26,23,77,0.30,0.34,0.23,0.13
25,164,2019-06-19,Cicily Martinez,4,"['2', '21', '30', '47']",78212,504,['Mexican'],3359.001922,33.0,-98.501744,29.466312,Mama's Kitchen,35,D,97,4.5,2,10,18,26,23,77,0.30,0.34,0.23,0.13
26,169,2019-08-22,Cicily Martinez,4,"['2', '9', '28', '32']",78212,2415,"['Mexican', 'Tex-Mex']",5057.327443,660.0,-98.494290,29.452500,La Fonda on Main,35,D,90,4.0,4,10,18,26,23,77,0.30,0.34,0.23,0.13
27,174,2019-08-19,Cicily Martinez,4,"['30', '32', '35', '35']",78212,3233,"['Coffee & Tea', 'Coffee Roasteries']",5303.393739,208.0,-98.483310,29.454800,Summer Moon Coffee Bar,35,D,95,4.5,3,10,18,26,23,77,0.30,0.34,0.23,0.13
28,195,2019-08-22,Cicily Martinez,3,"['2', '30', '45']",78212,2524,"['Italian', 'Desserts', 'Seafood']",4950.353662,99.0,-98.493780,29.453730,Capparelli's On Main,35,D,96,3.5,2,10,18,26,23,77,0.30,0.34,0.23,0.13
29,271,2019-06-27,Cicily Martinez,0,[],78212,516,"['Burgers', 'Fast Food']",6181.683390,34.0,-98.499673,29.440345,Whataburger,35,D,100,2.5,1,10,18,26,23,77,0.30,0.34,0.23,0.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687,2056,2019-07-12,Bernard Capdeboscq,6,"['21', '28', '29', '36', '42', '45']",78218,6210,"['Grocery', 'Korean']",10617.216973,92.0,-98.405320,29.484770,Korean Market,17,B,95,4.5,3,9,21,21,28,79,0.35,0.27,0.27,0.11
1688,2067,2019-07-01,Bernard Capdeboscq,5,"['10', '28', '37', '42', '45']",78218,2458,['Korean'],8231.598044,249.0,-98.429772,29.487126,Koreana Restaurant,17,B,92,3.5,3,9,21,21,28,79,0.35,0.27,0.27,0.11
1689,2076,2019-07-19,Bernard Capdeboscq,6,"['28', '34', '36', '42', '42', '45']",78218,2154,['Korean'],9633.260041,101.0,-98.415543,29.504527,Arirang Korean Restaurant,17,B,94,3.5,3,9,21,21,28,79,0.35,0.27,0.27,0.11
1690,2078,2019-07-19,Bernard Capdeboscq,8,"['10', '10', '29', '31', '36', '37', '42', '42']",78217,10929,['Mexican'],10167.920495,126.0,-98.423150,29.539650,Fidelos Mexican Restaurant,16,B,90,4.5,4,9,21,21,28,79,0.35,0.27,0.27,0.11
1691,2082,2019-07-19,Bernard Capdeboscq,4,"['2', '36', '39', '45']",78217,10447,['Mexican'],9520.346154,56.0,-98.428040,29.535330,Sonia's Restaurante Mexicano,16,B,94,4.0,3,9,21,21,28,79,0.35,0.27,0.27,0.11
1692,2085,2019-07-19,Bernard Capdeboscq,6,"['2', '10', '22', '31', '36', '38']",78217,8814,['Mexican'],10449.968058,37.0,-98.410484,29.520227,Taqueria La Tapatia,16,B,90,3.0,4,9,21,21,28,79,0.35,0.27,0.27,0.11
1693,2087,2019-07-18,Bernard Capdeboscq,3,"['21', '36', '42']",78217,2501,"['Vegan', 'American (Traditional)']",6772.842371,95.0,-98.450149,29.518579,Earth Burger,16,B,98,4.5,2,9,21,21,28,79,0.35,0.27,0.27,0.11
1694,2088,2019-07-18,Bernard Capdeboscq,6,"['6', '6', '10', '21', '22', '36']",78217,8522,"['Pizza', 'Sandwiches', 'Italian']",5655.536870,453.0,-98.462467,29.517757,Capos Pizza,16,B,89,4.5,4,9,21,21,28,79,0.35,0.27,0.27,0.11
1695,2091,2019-07-16,Bernard Capdeboscq,7,"['21', '30', '36', '42', '42', '45', '45']",78218,4400,"['Korean', 'Chinese']",10426.242165,41.0,-98.407443,29.484043,Myung Ga Won,17,B,97,3.5,2,9,21,21,28,79,0.35,0.27,0.27,0.11
1696,2094,2019-07-18,Bernard Capdeboscq,6,"['6', '6', '10', '21', '22', '36']",78217,8522,"['Pizza', 'Sandwiches', 'Italian']",5655.536870,453.0,-98.462467,29.517757,Capos Pizza,16,B,89,4.5,4,9,21,21,28,79,0.35,0.27,0.27,0.11
1697,2097,2019-07-18,Bernard Capdeboscq,0,[],78209,1907,"['Hot Dogs', 'American (New)', 'Burgers']",5558.188579,148.0,-98.458619,29.506323,BurgerFi,16,B,100,4.0,1,9,21,21,28,79,0.35,0.27,0.27,0.11
1698,2098,2019-07-18,Bernard Capdeboscq,0,[],78209,1907,"['Hot Dogs', 'American (New)', 'Burgers']",5558.188579,148.0,-98.458619,29.506323,BurgerFi,16,B,100,4.0,1,9,21,21,28,79,0.35,0.27,0.27,0.11
1699,2099,2019-08-08,Bernard Capdeboscq,9,"['2', '10', '10', '31', '34', '36', '42', '42'...",78217,2410,['Barbeque'],6644.995614,44.0,-98.450793,29.516946,Bill Miller Bar-B-Q,16,B,88,2.0,4,9,21,21,28,79,0.35,0.27,0.27,0.11
1700,2100,2019-08-08,Bernard Capdeboscq,2,"['21', '47']",78218,4502,['Barbeque'],10605.583693,30.0,-98.405590,29.483731,Bill Miller Bar-B-Q,17,B,100,2.5,1,9,21,21,28,79,0.35,0.27,0.27,0.11
1701,2107,2019-08-23,Bernard Capdeboscq,1,['47'],78209,1006,"['Burgers', 'Beer, Wine & Spirits', 'Salad']",5889.583171,147.0,-98.458717,29.515841,Chester's Hamburgers,16,B,99,3.5,2,9,21,21,28,79,0.35,0.27,0.27,0.11
1702,2119,2019-08-20,Bernard Capdeboscq,1,['21'],78218,104,"['Barbeque', 'Sandwiches']",9561.838006,1025.0,-98.416089,29.502942,The Big Bib BBQ,17,B,100,4.0,1,9,21,21,28,79,0.35,0.27,0.27,0.11
1703,2125,2019-08-22,Bernard Capdeboscq,18,"['9', '10', '10', '18', '19', '19', '19', '31'...",78218,3030,['Country Dance Halls'],11544.243239,135.0,-98.398119,29.517598,Cowboys Dancehall,17,B,79,3.5,4,9,21,21,28,79,0.35,0.27,0.27,0.11
1704,2164,2019-08-13,Bernard Capdeboscq,7,"['9', '10', '10', '10', '40', '42', '42']",78217,2515,['Thai'],6799.917401,286.0,-98.450005,29.518791,Bangkok 54 Thai Cuisine,16,B,95,4.5,3,9,21,21,28,79,0.35,0.27,0.27,0.11
1705,2166,2019-08-12,Bernard Capdeboscq,2,"['2', '36']",78218,1015,['Vietnamese'],8414.621960,38.0,-98.428103,29.485294,Kim Tran Restaurant,17,B,99,3.5,2,9,21,21,28,79,0.35,0.27,0.27,0.11
1706,2168,2019-08-09,Bernard Capdeboscq,5,"['30', '31', '32', '36', '45']",78209,8633,"['Mexican', 'Wine Bars', 'Tex-Mex']",5626.037709,114.0,-98.461019,29.514543,La Fonda Alamo Heights,16,B,94,3.5,3,9,21,21,28,79,0.35,0.27,0.27,0.11
1707,2176,2019-08-09,Bernard Capdeboscq,6,"['10', '21', '22', '42', '45', '47']",78209,1901,"['Delis', 'Salad', 'Sandwiches']",5541.089923,74.0,-98.458722,29.506038,Thundercloud Subs,16,B,92,4.0,3,9,21,21,28,79,0.35,0.27,0.27,0.11
1708,2211,2019-05-21,Bernard Capdeboscq,10,"['2', '22', '30', '31', '35', '35', '36', '42'...",78218,1007,"['Tex-Mex', 'Mexican']",8260.422273,64.0,-98.429757,29.484964,Teka Molino 2,17,B,89,4.0,4,9,21,21,28,79,0.35,0.27,0.27,0.11
1709,2233,2019-05-23,Bernard Capdeboscq,7,"['21', '29', '31', '34', '36', '39', '42']",78218,2456,"['Korean', 'Soup', 'Noodles']",8260.101608,186.0,-98.429543,29.486564,Seoul Food,17,B,90,4.0,4,9,21,21,28,79,0.35,0.27,0.27,0.11
1710,2251,2019-05-28,Bernard Capdeboscq,2,"['2', '31']",78218,1003,['American (New)'],8335.060976,101.0,-98.428855,29.485851,Longhorn Cafe,17,B,95,4.0,3,9,21,21,28,79,0.35,0.27,0.27,0.11
1711,2295,2019-05-14,Bernard Capdeboscq,1,['21'],78218,2026,"['Caribbean', 'Bars', 'American (New)']",9520.183191,319.0,-98.416471,29.502487,Jamaica Jamaica Cuisine,17,B,100,4.0,1,9,21,21,28,79,0.35,0.27,0.27,0.11
1712,2341,2019-06-27,Bernard Capdeboscq,11,"['10', '21', '30', '31', '34', '39', '42', '42...",78217,8503,"['Thai', 'Noodles']",5479.068656,153.0,-98.464670,29.517960,Chongco Thai Rice & Noodle,16,B,90,3.5,4,9,21,21,28,79,0.35,0.27,0.27,0.11
1713,2342,2019-06-27,Bernard Capdeboscq,11,"['10', '21', '30', '31', '34', '39', '42', '42...",78217,8503,"['Thai', 'Noodles']",5479.068656,153.0,-98.464670,29.517960,Chongco Thai Rice & Noodle,16,B,90,3.5,4,9,21,21,28,79,0.35,0.27,0.27,0.11
1714,2389,2019-06-14,Bernard Capdeboscq,0,[],78218,4114,['Thai'],9846.229296,197.0,-98.413124,29.484283,Thai House Restaurant,17,B,100,4.5,1,9,21,21,28,79,0.35,0.27,0.27,0.11
1715,2390,2019-06-17,Bernard Capdeboscq,3,"['28', '36', '41']",78218,1015,"['Cajun/Creole', 'Barbeque', 'Food Trucks']",8408.810009,179.0,-98.428160,29.485323,225 Urban Smoke,17,B,96,4.5,2,9,21,21,28,79,0.35,0.27,0.27,0.11
1716,2391,2019-06-17,Bernard Capdeboscq,3,"['28', '36', '41']",78218,1015,"['Cajun/Creole', 'Barbeque', 'Food Trucks']",8408.810009,179.0,-98.428160,29.485323,225 Urban Smoke,17,B,96,4.5,2,9,21,21,28,79,0.35,0.27,0.27,0.11

In [15]:
df = df[['name','review_count','rating','less_92','92_to_95','96_to_99','100', 'health_scores']]
df.head()

,name,review_count,rating,less_92,92_to_95,96_to_99,100,health_scores
0,Capparelli's On Main,99.0,3.5,0.3,0.34,0.23,0.13,2
1,Fina's Kitchen,42.0,4.0,0.3,0.34,0.23,0.13,3
2,Rolando's Super Tacos No 1,145.0,3.5,0.3,0.34,0.23,0.13,3
3,Rolando's Super Tacos No 1,145.0,3.5,0.3,0.34,0.23,0.13,3
4,Fina's Kitchen,42.0,4.0,0.3,0.34,0.23,0.13,3

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [17]:
#training / test split
X= df.drop(columns=['name','health_scores'])
y= df['health_scores']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state = 42, stratify=df.health_scores)
X_train.head()

      review_count  rating  less_92  92_to_95  96_to_99   100
549          361.0     4.5     0.30      0.20      0.38  0.12
1063          27.0     3.5     0.26      0.19      0.21  0.34
456          445.0     3.5     0.06      0.23      0.52  0.19
1520          93.0     3.0     0.11      0.27      0.32  0.30
1319         362.0     3.0     0.57      0.26      0.14  0.02

In [18]:
y_train.head()

549     3
1063    4
456     4
1520    3
1319    4
Name: health_scores, dtype: object

In [19]:
#Train Model

#Create the Decision Tree Object

clf = DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state= 42, min_samples_split= 2)

In [20]:
#Fit the model to the training data

clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=42, splitter='best')

In [21]:
#Estimate health group

y_pred = clf.predict(X_train)
y_pred

array(['4', '4', '2', ..., '2', '2', '4'], dtype=object)

In [22]:
#Estimate the probability of a health group
y_pred_proba = clf.predict_proba(X_train)
y_pred_proba

array([[0.08024691, 0.24691358, 0.2962963 , 0.37654321],
       [0.26315789, 0.19298246, 0.24561404, 0.29824561],
       [0.06818182, 0.56818182, 0.25      , 0.11363636],
       ...,
       [0.17924528, 0.39622642, 0.17924528, 0.24528302],
       [0.06666667, 0.93333333, 0.        , 0.        ],
       [0.        , 0.04545455, 0.45454545, 0.5       ]])

In [23]:
confusion_matrix(y_train, y_pred)

array([[111,  69,   2,  38],
       [ 61, 161,  19,  96],
       [ 31,  90,  33, 152],
       [ 11,  52,  24, 251]])

In [24]:
#Accuracy: number of correct predictions over the number of total instances that have been evaluated.
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.46

In [25]:
#Test Model

#Compute the accuracy of the model when run on the test data

print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))

Accuracy of Decision Tree classifier on test set: 0.41

In [26]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           1       0.52      0.50      0.51       220
           2       0.43      0.48      0.45       337
           3       0.42      0.11      0.17       306
           4       0.47      0.74      0.57       338

    accuracy                           0.46      1201
   macro avg       0.46      0.46      0.43      1201
weighted avg       0.46      0.46      0.43      1201

In [27]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
rf = RandomForestClassifier(max_depth=4, criterion='entropy', n_estimators=1000000, random_state=123)
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=4, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000000,
                       n_jobs=None, oob_score=False, random_state=123,
                       verbose=0, warm_start=False)

In [29]:
y_pred = rf.predict(X_train)

In [30]:
rf.score(X_train, y_train)

0.46378018318068276

In [ ]:
rf.score(X_test, y_test)